<div class="well bs-component">

<%= form_for(@comment, url: @target.nil? ? "/#{@topic.permalink}/comments" : "/#{@topic.permalink}/comment_#{@target.id}/reply", :html => { class: "form-horizontal"}) do |f| %>
  <% if @comment.errors.any? %>
    <div class="bs-component">
      <div class="alert alert-dismissable alert-danger">
        <strong><%=@comment.errors.count %> 項錯誤：</strong>
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <fieldset>
    <legend>
      <% if @target.nil? %>
        <h2><%= @topic.name %></h2>
        <p class="text-muted"><%= @topic.description %></p>
        <p class="text-muted">身份：<span class="text-primary"><%= @proxy.display_name %></span></p>
      <% else %>
        <% if params[:comment][:opinion] == "support" %>
          <h2 class="text-success">支援評論</h2>
          <p class="text-muted">對於<span class="text-primary"><%= @target.owner.display_name %></span>說：</p>
          <p class="text-muted"><%= @target.body %></p>
          <p class="text-muted">你（<span class="text-primary"><%= @proxy.display_name %></span>）表示<span class="text-success">支持！</span></p>
        <% else %>
          <h2 class="text-danger">反對評論</h2>
          <p class="text-muted">對於<span class="text-primary"><%= @target.owner.display_name %></span>說：</p>
          <p class="text-muted"><%= @target.body %></p>
          <p class="text-muted">你（<span class="text-primary"><%= @proxy.display_name %></span>）表示<span class="text-danger">反對！</span></p>
        <% end %>
      <% end %>
    </legend>

    <div class="form-group <%= "has-error" unless @comment.errors[:subject].count ==0 %>">
      <label for="name" class="col-lg-2 control-label">主旨</label>
      <div class="col-lg-10">
        <%= f.text_field :subject, class: "form-control", placeholder: "評論主旨" %>
        <% unless @comment.errors[:subject].empty? %>
        <label class="control-label" for="inputError"><%= @comment.errors[:subject].join("，") %></label>
        <% end %><span class="help-block">必要，最多五十個字。</span>
      </div>
    </div>

    <div class="form-group">
      <label for="permalink" class="col-sm-2 control-label">立場</label>
      <div class="col-sm-10">
        <% @topic.stances.each do |stance| %>
          <button id="button_<%= stance.id %>" onClick="set_stance('<%= stance.id %>')" type="button" class="btn btn-<%= stance.panel.nil? ? "default" : stance.panel %>"><i class="fa fa-check checks" id="check_<%= stance.id %>"></i> <%= stance.display_description %></button>
        <% end %>
        <span class="help-block">這則評論對議題的立場，必要</span>
      </div>
    </div>
    <script type="text/javascript">
      $(function() {
        $(".checks").hide();
        <% unless @comment.stance.nil? %>set_stance('<%= @comment.stance.id %>');<% end %>
      });
      function set_stance(stance){
        // clear_buttons();
        $(".checks").hide();
        $("#check_"+stance).show();
        $("#comment_stance").val(stance);
      }
    </script>

      <input class="form-control" id="comment_stance" name="comment[stance]" placeholder="立場" type="hidden" value="">
        
    <% unless @target.nil? %>
      <input class="form-control" id="comment_opinion" name="comment[opinion]" placeholder="立場" type="hidden" value="<%= params[:comment][:opinion] %>">
    <% end %>

    <div class="form-group <%= "has-error" unless @comment.errors[:body].count ==0 %>">
      <label for="description" class="col-lg-2 control-label">內容（必要）</label>
      <div class="col-lg-10">
        <%= f.text_area :body, class: "form-control", placeholder: "評論內容", rows: "5" %>
        <% unless @comment.errors[:body].empty? %>
        <label class="control-label" for="inputError"><%= @comment.errors[:body].join("，") %></label>
        <% end %>
      </div>
    </div>

    <% if @user.is_robot? %>
      <div class="form-group <%= "has-error" unless @comment.errors[:tag].count ==0 %>">
        <label for="tag" class="col-lg-2 control-label">標簽</label>
        <div class="col-lg-10">
          <div class="row">
            <div class="col-xs-4">
              <%= f.text_field :tag, class: "form-control", placeholder: "來源標簽" %>
              <% unless @comment.errors[:tag].empty? %>
              <label class="control-label" for="inputError"><%= @comment.errors[:tag].join("，") %></label>
              <% end %>
            </div>
            <div class="col-xs-8">
              <%= f.text_field :tag_url, class: "form-control", placeholder: "來源網址" %>
              <% unless @comment.errors[:tag_url].empty? %>
              <label class="control-label" for="inputError"><%= @comment.errors[:tag_url].join("，") %></label>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "送出", :class => 'btn btn-primary'%>
        <button onclick="window.history.go(-1); return false;" class="btn btn-default">返回</button>
      </div>
    </div>
  </fieldset>
<% end %>
</div>
