<div class="well bs-component">

<%= form_for(@comment, url: "/#{@target.permalink}/comments", :html => { class: "form-horizontal"}) do |f| %>

  <% if @comment.errors.any? %>
    <div class="bs-component">
      <div class="alert alert-dismissable alert-danger">
        <strong><%=@comment.errors.count %> 項錯誤：</strong>
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <fieldset>
    <legend>
      <h2>以『<%= @proxy.pseudonym %>』身份，對『<%= @target.name %>』發表評論</h2>
      <p class="text-muted"><%= @target.description %></p>
    </legend>
    <div class="form-group <%= "has-error" unless @comment.errors[:subject].count ==0 %>">
      <label for="name" class="col-lg-2 control-label">主旨（必要）</label>
      <div class="col-lg-10">
        <% unless @comment.errors[:subject].nil? %>
        <label class="control-label" for="inputError"><%= @comment.errors[:subject].join("，") %></label>
        <% end %>
        <%= f.text_field :subject, class: "form-control", placeholder: "評論主旨" %>
        <span class="help-block">最多十個字</span>
      </div>
    </div>
    <div class="form-group <%= "has-error" unless @comment.errors[:body].count ==0 %>">
      <label for="description" class="col-lg-2 control-label">內容（必要）</label>
      <div class="col-lg-10">
        <% unless @comment.errors[:body].nil? %>
        <label class="control-label" for="inputError"><%= @comment.errors[:body].join("，") %></label>
        <% end %>
        <%= f.text_area :body, class: "form-control", placeholder: "評論內容", rows: "5" %>
      </div>
    </div>
    <div class="form-group <%= "has-error" unless @comment.errors[:stance].count ==0 %>">
      <label for="permalink" class="col-lg-2 control-label">立場（必要）</label>
      <div class="col-lg-10">
        <% unless @comment.errors[:stance].nil? %>
        <label class="control-label" for="inputError"><%= @comment.errors[:stance].join("，") %></label>
        <% end %>
        <input class="form-control" id="comment_stance" name="comment[stance]" placeholder="立場" type="hidden" value="<%= @comment.stance %>">
        <div class="btn-group btn-group-justified" data-toggle="buttons-radio">
          <a href="#" id="button_like" onClick="click_like()" type="button" class="btn btn-success" value="1"><%= "✓ " if @comment.stance == 1 %> 支持</a>
          <a href="#" id="button_neutral" onClick="click_neutral()" type="button" class="btn btn-warning" value="0"><%= "✓ " if @comment.stance == 2 %>中立</a>
          <a href="#" id="button_dislike" onClick="click_dislike()" type="button" class="btn btn-danger" value="-1"><%= "✓ " if @comment.stance == 3 %>反對</a>
        </div>
        <span class="help-block">這則評論對議題的立場</span>
      </div>
    </div>
    
    <script type="text/javascript">
      function clear_buttons(){
        var elem_like = document.getElementById("button_like").innerHTML = "支持";
        var elem_neutral = document.getElementById("button_neutral").innerHTML = "中立";
        var elem_dislike = document.getElementById("button_dislike").innerHTML = "反對";
      }
      function click_like(){
        clear_buttons();

        document.getElementById("button_like").innerHTML = "✓ 支持";
        $("#comment_stance").val(1);
      }
      function click_neutral(){
        clear_buttons();

        document.getElementById("button_neutral").innerHTML = "✓ 中立";
        $("#comment_stance").val(2);
      }
      function click_dislike(){
        clear_buttons();

        document.getElementById("button_dislike").innerHTML = "✓ 反對";
        $("#comment_stance").val(3);
      }
    </script>


    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button onclick="window.history.go(-1); return false;" class="btn btn-default">返回</button>
        <%= f.submit "送出", :class => 'btn btn-primary'%>
      </div>
    </div>
  </fieldset>
<% end %>
</div>
