<%= form_for(@comment, url: "/#{@target.permalink}/comments") do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>for "<%= @target.description %>"</h2>

  <div class="container">
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <div class="container">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <%= f.submit :class => 'btn btn-primary'%>
<% end %>
