  <div class="page-header">
    <h1><strong><%= @topic.name %></strong></h1>
    <span class="label label-default"><%= @topic.subscribed_by.count %>人訂閱</span>
    <% unless session[:user_id].nil? %><% if @user.subscriptions.find(@topic.id) %><span class="label label-default">已訂閱</span><% end %><% end %>
    <h4 class="text-muted"><%= @topic.description %></h4>
    <h4 class="text-muted">你的身份是「
      <% if session[:user_id].nil? %>
        <span class="text-primary"><%= @proxy.display_name %></span>
      <% else %>
       <a data-toggle="modal" href="#modal_switch_real_id"><%= @proxy.display_name %></a>
      <% end %>」

      <% unless session[:user_id].nil? %>
      <div class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" href="#modal_new_comment">發表評論</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% if @user.subscriptions.find(@topic.id) %>
            <li><a href="/<%= @topic.permalink %>/unsubscribe" role: "button">取消訂閱</a></li>
          <% else %>
            <li><a href="/<%= @topic.permalink %>/subscribe" role: "button">訂閱議題</a></li>
          <% end %>
          <li><a href="/<%= @topic.permalink %>/edit" role: "button">編輯議題</a></li>
          <li><%= link_to "刪除議題", @topic, method: :delete, data: { confirm: '你確定嗎？這個動作無法還原！' }%></li>
        </ul>
      </div>
      <% end %>

  </h4>
  </div>

<% unless session[:user_id].nil? %>
<%= render 'proxies/modal_switch_real' %>
<%= render 'comments/modal_new_comment' %>

<% end %>