  <div class="page-header">
    <h1><strong><%= @topic.name %></strong></h1>
    <span class="label label-default"><%= @topic.subscribed_by.count %>人訂閱</span>
    <% unless session[:user_id].nil? %><% if @user.subscriptions.find(@topic.id) %><span class="label label-default">已訂閱</span><% end %><% end %>
    <h4 class="text-muted"><%= @topic.description %></h4>
    <h4 class="text-muted">你的身份是「
      <% if session[:user_id].nil? %>
        <span class="text-primary"><%= @proxy.display_name %></span>
      <% else %>
       <a data-toggle="modal" href="#modal_switch_real_id"><%= @proxy.display_name %></a>
      <% end %>」

      <% unless session[:user_id].nil? %>
      <div class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="modal" href="#modal_new_comment">發表評論</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% if @user.subscriptions.find(@topic.id) %>
            <li><a href="/<%= @topic.permalink %>/unsubscribe" role: "button">取消訂閱</a></li>
          <% else %>
            <li><a href="/<%= @topic.permalink %>/subscribe" role: "button">訂閱議題</a></li>
          <% end %>
          <li><a href="/<%= @topic.permalink %>/edit" role: "button">編輯議題</a></li>
          <li><%= link_to "刪除議題", @topic, method: :delete, data: { confirm: '你確定嗎？這個動作無法還原！' }%></li>
        </ul>
      </div>
      <% end %>

  </h4>
  </div>

<% unless session[:user_id].nil? %>
<div class="bs-component">
  <div class="modal fade" id="modal_switch_real_id">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4>實名／匿名切換</h4>
        </div>

        <div class="modal-body">
          <p class="text-muted">目前你在『<span class="text-primary"><%= @topic.name %></span>』議題下的身份是『<span class="text-primary"><%= @proxy.display_name %></span>』</p>
          <% if @proxy.real_id %>
            <p>當你將身份切換成匿名時，所有你在這個議題下的活動將會以假名『<span class="text-primary"><%= @proxy.pseudonym %></span>』名義呈現，其他使用者無法得到除了假名之外任何你的個人資訊。</p>
          <% else %>
            <p>當你將身份切換成實名時，所有你在這個議題下的活動將會以臉書姓名『<span class="text-primary"><%= @proxy.user.name %></span>』名義呈現，其他使用者可以連結至你的臉書頁面。</p>
          <% end %>
          <p class="text-default">這動作會影響所有你在這個議題下的活動，但不會影響你在其他議題的活動。你在每個議題下的身份是獨立的。</p>
        </div>

        <div class="modal-footer">
          <% if @proxy.real_id %><a class="btn btn-primary" href="/<%= @topic.permalink %>/proxy_fake">切換成匿名</a>
          <% else %><a class="btn btn-primary" href="/<%= @topic.permalink %>/proxy_real">切換成實名</a>
          <% end %>
          <button href="#" data-dismiss="modal" class="btn btn-default">返回</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="bs-component">
  <div class="modal fade" id="modal_new_comment">
    <div class="modal-dialog">
      <div class="modal-content">

        <% @comment = Comment.new %>
        <% @comment.owner = @proxy %>

        <%= form_for(@comment, url: "/#{@topic.permalink}/comments", :html => { class: "form-horizontal"}) do |f| %>

          <fieldset>

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4>評論『<%= @topic.name %>』</h4>
              <p class="text-muted"><%= @topic.description %></p>
              <p>身份：<strong class="text-primary"><%= @proxy.display_name %></strong></p>
            </div>

            <div class="modal-body">
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">主旨</label>
              <div class="col-sm-10">
                <%= f.text_field :subject, class: "form-control", placeholder: "評論主旨" %>
                <span class="help-block">最多二十個字</span>
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">內容</label>
              <div class="col-sm-10">
                <%= f.text_area :body, class: "form-control", placeholder: "評論內容", rows: "5" %>
                <span class="help-block">必要</span>
              </div>
            </div>

            <% unless @topic.topic_type == :open %>
            <div class="form-group">
              <label for="permalink" class="col-sm-2 control-label">立場</label>
              <div class="col-sm-10">
                <input class="form-control" id="comment_stance" name="comment[stance]" placeholder="立場" type="hidden" value="">
                <div class="btn-group btn-group-justified" data-toggle="buttons-radio">
                  <a href="#" id="button_like" onClick="click_like()" type="button" class="btn btn-success" value="1">支持</a>
                  <a href="#" id="button_neutral" onClick="click_neutral()" type="button" class="btn btn-warning" value="2">中立</a>
                  <a href="#" id="button_dislike" onClick="click_dislike()" type="button" class="btn btn-danger" value="3">反對</a>
                </div>
                <span class="help-block">這則評論對議題的立場，必要</span>
              </div>
            </div>
            
            <script type="text/javascript">
              function clear_buttons(){
                var elem_like = document.getElementById("button_like").innerHTML = "支持";
                var elem_neutral = document.getElementById("button_neutral").innerHTML = "中立";
                var elem_dislike = document.getElementById("button_dislike").innerHTML = "反對";
              }
              function click_like(){
                clear_buttons();

                document.getElementById("button_like").innerHTML = "✓ 支持";
                $("#comment_stance").val(1);
              }
              function click_neutral(){
                clear_buttons();

                document.getElementById("button_neutral").innerHTML = "✓ 中立";
                $("#comment_stance").val(2);
              }
              function click_dislike(){
                clear_buttons();

                document.getElementById("button_dislike").innerHTML = "✓ 反對";
                $("#comment_stance").val(3);
              }
            </script>
            <% end %>
            </div>

            <div class="modal-footer">
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <%= f.submit "送出", :class => 'btn btn-primary'%>
                <button href="#" data-dismiss="modal" class="btn btn-default">返回</button>
              </div>
            </div>
            </div>

          </fieldset>
        <% end %>

      </div>
    </div>
  </div>
</div>
<% end %>