<div class="row">

  <div class="col-md-4">
    <div class="bs-component">


      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">支持</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>主旨</th>
                <th>作者</th>
                <th>時間</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @comments.each do |comment| %>
              <% if comment.stance == 1 %>
              <tr>
                <td><a href="/comments/<%= comment.id %>"><%= comment.subject %></a></td>
                <td><%= comment.owner.pseudonym %></td>
                <td><%= comment.doc.strftime("%F %T") %></td>
                <td>
                  <span class="label label-success">讚 <%= comment.likes.count %></span> 
                  <span class="label label-danger">爛 <%= comment.dislikes.count %></span>
                </td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table> 
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="bs-component">

      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">中立</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>主旨</th>
                <th>作者</th>
                <th>時間</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @comments.each do |comment| %>
              <% if comment.stance == 2 %>
              <tr>
                <td><a href="/comments/<%= comment.id %>"><%= comment.subject %></a></td>
                <td><%= comment.owner.pseudonym %></td>
                <td><%= comment.doc.strftime("%F %T") %></td>
                <td>
                  <span class="label label-success">讚 <%= comment.likes.count %></span> 
                  <span class="label label-danger">爛 <%= comment.dislikes.count %></span>
                </td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="bs-component">

      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">反對</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>主旨</th>
                <th>作者</th>
                <th>時間</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @comments.each do |comment| %>
              <% if comment.stance == 3 %>
              <tr>
                <td><a href="/comments/<%= comment.id %>"><%= comment.subject %></a></td>
                <td><%= comment.owner.pseudonym %></td>
                <td><%= comment.doc.strftime("%F %T") %></td>
                <td>
                  <span class="label label-success">讚 <%= comment.likes.count %></span> 
                  <span class="label label-danger">爛 <%= comment.dislikes.count %></span>
                </td>
              </tr>
              <% end %>
              <% end %>
            </tbody>
          </table> 
        </div>
      </div>

    </div>
  </div>
</div>

