<div class="row">
  <div class="col-xs-12">
    <div class="expandable-boxes" name="main-well">
      <% @topic.stances.sort!.each do |stance| %>

      <div class="expandable-box expandable-box-<%= @topic.stances.count %>">
          <div class="panel <%= stance.panel.nil? ? "panel-default" : "panel-"+stance.panel %>">
            <a class="expand-btn" onclick="expandable_btn($(this));">
              <div class="panel-heading" valign="center">
                <h3 class="panel-title">
                  <table><tbody><tr>
                    <td width="10" class="stance-back" style="display: none;">
                      <span class="label"><i class="fa fa-caret-left fa-fw"></i>返回</span>
                    </td>
                    <td align="center" width="3000">
                      <%= stance.display_description %>
                      <% unless stance.keywords.nil? or stance.keywords.empty? %>
                        <br>
                        <span class="text-muted-inverse">關鍵字：<%= stance.display_keywords %></span>
                      <% end %>
                    </td>
                  </tr></tbody></table>
                </h3>
              </div>
            </a>

            <div class="panel-body">          
              <% if stance.comments.count == 0 %>
                <p class="text-muted empty">這裡有點冷清⋯⋯</p>
              <% else %>
                <table class="table table-striped table-hover ">
                  <tbody id="comment_list_stance<%= stance.id %>" class="comment_lists">
                    <% @comments = stance.comments[0,5] %>
                    <%= render 'comments/tr_comment_list' %>
                  </tbody>
                </table> 

              <% end %>
              
              <% if stance.comments.count > 5 %>
              <center><a id="show_more_stance<%= stance.id %>" href="/<%= @topic.permalink %>/comments/more_stance_<%= stance.id %>/5" data-remote="true">更多⋯⋯</a><i id="spin_stance<%= stance.id %>" class="fa fa-spinner fa-spin" style="display: none;"></i></center>
              <% end %>
            </div>
          </div>
      </div>
      <script type="text/javascript">
        $("#show_more_stance<%= stance.id %>").click(function (){
          $("#show_more_stance<%= stance.id %>").hide();
          $("#spin_stance<%= stance.id %>").show();
        });
      </script>
      <% end %>
      <div class="expandable-box expandable-box-main out">
        <div id="main-container" class="well main-well"></div>
        <a class="fixed-button" onclick="hideMain();"><i class="fa fa-arrow-left fa"></i></a>
      </div>
    </div>
  </div>
</div>

<div id="comment_pool">Comment pool</div>
<div id="comment_modal" class="modal fade"></div>
<div id="reply_modals"></div>