<div class="bs-component">
  <div class="modal fade" id="modal_new_comment" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">

        <% @comment = Comment.new %>
        <% @comment.owner = @proxy %>

        <%= form_for(@comment, url: "/#{@topic.permalink}/comments", :html => { class: "form-horizontal" }) do |f| %>

          <fieldset>

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4>評論『<%= @topic.name %>』</h4>
              <div class="text-muted"><%= auto_link(simple_format(sanitize @topic.description, tags: %w(a p br)), :all, :target => '_blank') %></div>
              <p>身份：<span class="text-primary"><%= @proxy.display_name %></span></p>
            </div>
            
            <div class="modal-body">

            <div class="form-group">
              <label for="permalink" class="col-sm-2 control-label">立場</label>
              <div class="col-sm-10">
                <input class="form-control" id="comment_stance" name="comment[stance]" placeholder="立場" type="hidden" value="">
                <% @topic.stances.each do |stance| %>
                  <button id="button_<%= stance.id %>" onClick="set_stance('<%= stance.id %>')" type="button" class="btn btn-<%= stance.panel.nil? ? "default" : stance.panel %>"><i class="fa fa-check checks" id="check_<%= stance.id %>"></i> <%= stance.display_description %></button>
                <% end %>
                <span class="help-block">這則評論對議題的立場，必要</span>
              </div>
            </div>
            <script type="text/javascript">
              $(function() {
                $(".checks").hide();
              });
              function set_stance(stance){
                // clear_buttons();
                $(".checks").hide();
                $("#check_"+stance).show();
                $("#comment_stance").val(stance);
              }
            </script>

            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">內容</label>
              <div class="col-sm-10">
                <%= f.text_area :body, class: "form-control", placeholder: "評論內容", rows: "5" %>
                <span class="help-block">必要</span>
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">主旨</label>
              <div class="col-sm-10">
                <%= f.text_field :subject, class: "form-control", placeholder: "評論主旨" %>
                <span class="help-block">必要，最多五十個字</span>
              </div>
            </div>

            <% if @user.is_robot? %>
              <div class="form-group <%= "has-error" unless @comment.errors[:tag].count ==0 %>">
                <label for="tag" class="col-sm-2 col-xs-12 control-label">標簽</label>
                <div class="col-sm-3 col-xs-4">
                  <%= f.text_field :tag, class: "form-control", placeholder: "標簽" %>
                  <% unless @comment.errors[:tag].empty? %>
                  <label class="control-label" for="inputError"><%= @comment.errors[:tag].join("，") %></label>
                  <% end %>
                </div>
                <div class="col-sm-7 col-xs-8">
                  <%= f.text_field :tag_url, class: "form-control", placeholder: "來源網址" %>
                  <% unless @comment.errors[:tag_url].empty? %>
                  <label class="control-label" for="inputError"><%= @comment.errors[:tag_url].join("，") %></label>
                  <% end %>
                </div>
              </div>
            <% end %>
            
            </div>

            <div class="modal-footer">
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <span class="btn btn-primary" disabled id="btn_new_comment_spin"><i class="fa fa-spinner fa-spin"></i> </span>
                <%= f.submit "送出", :class => 'btn btn-primary', :id => "btn_new_comment"%>
                <button href="#" data-dismiss="modal" class="btn btn-default">返回</button>
              </div>
            </div>
            </div>

            <script type="text/javascript">
              $("#btn_new_comment").click(function() {
                $("#btn_new_comment").hide();
                $("#btn_new_comment_spin").show();
              });
              $(function() {
                $("#btn_new_comment_spin").hide();
              });
            </script>

          </fieldset>
        <% end %>

      </div>
    </div>
  </div>
</div>