
<div class="bs-component">
  <div class="modal fade" id="modal_choose_old">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="text-default">選擇舊評論</h4>
          <p class="text-muted">對於<span class="text-primary"><%= @comment.owner.display_name %></span>說：</p>
          <p class="text-muted"><%= @comment.body %></p>
          <p class="text-muted">你（<span class="text-primary"><%= @proxy.display_name %></span>）表示<span class="text-success stance_support">支持！</span><span class="text-danger stance_oppose">反對！</span></p>
        </div>

        <div class="modal-body">
          <table class="table table-striped table-hover ">
            <tbody>
              <thead>
                <tr>
                  <th>＃</th>
                  <th>內容</th>
                  <th>時間</th>
                </tr>
              </thead>
              <% @proxy.works.sort!{|b,a| a.doc <=> b.doc}.each do |comment| %>
                <% unless comment == @comment or @comment.supported.find(comment) or @comment.opposed.find(comment) %>
                  <tr onClick="set_old_post('<%= comment.id %>');">
                    <td><i class="fa fa-check old_post_check" id="<%= comment.id %>"></i></td>
                    <td style="display:none;" id="abstract_<%= comment.id %>"><%= comment.subject %></td>
                    <td><span class="text-muted"><%= comment.body.length <= 50 ? comment.body : comment.body[0,50] + "⋯⋯" %></span></td>
                    <td style="display:none;" id="body_<%= comment.id %>"><%= comment.body  %></td>
                    <td class="text-primary" id="time_<%= comment.id %>"><%= comment.doc.strftime("%F %T") %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table> 
        </div>

        <div class="modal-footer">
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button href="#modal_reply_comment" data-dismiss="modal" data-toggle="modal" class="btn btn-default"><i class="fa fa-reply"></i> 發表新評論</button>
              <button href="#modal_reply_with_old" data-dismiss="modal" data-toggle="modal" class="btn btn-primary" id="old_chosen">確定</button>
              <button href="#" data-dismiss="modal" class="btn btn-default">返回</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="bs-component">
  <div class="modal fade" id="modal_reply_comment">
    <div class="modal-dialog">
      <div class="modal-content">

        <% @reply = Comment.new %>
        <% @reply.owner = @proxy %>

        <%= form_for(@reply, url: "/#{@topic.permalink}/comment_#{@comment.id}/reply", :html => { class: "form-horizontal"}) do |f| %>
        <fieldset>
          <input class="form-control" id="comment_stance" name="comment[stance]" placeholder="立場" type="hidden" value="">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="text-success stance_support">支援評論</h4><h4 class="text-danger stance_oppose">支援評論</h4>
            <p class="text-muted">對於<span class="text-primary"><%= @comment.owner.display_name %></span>說：</p>
            <p class="text-muted"><%= @comment.body %></p>
            <p class="text-muted">你（<span class="text-primary"><%= @proxy.display_name %></span>）表示<span class="text-success stance_support">支持！</span><span class="text-danger stance_oppose">反對！</span></p>
            <a href="#modal_choose_old" class="btn btn-default" data-dismiss="modal" data-toggle="modal">使用舊評論回應</a>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">內容</label>
              <div class="col-sm-10">
                <%= f.text_area :body, class: "form-control", placeholder: "評論內容", rows: "5" %>
                <span class="help-block">必要</span>
              </div>
            </div>

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">摘要</label>
              <div class="col-sm-10">
                <%= f.text_field :subject, class: "form-control", placeholder: "評論摘要" %>
                <span class="help-block">非必要，最多二十個字</span>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <%= f.submit "送出", :class => 'btn btn-primary' %>
                <button href="#" data-dismiss="modal" class="btn btn-default">返回</button>
              </div>
            </div>
          </div>

        </fieldset>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="bs-component">
  <div class="modal fade" id="modal_reply_with_old">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="text-default">使用舊評論回應</h4>
          <p class="text-muted">對於<span class="text-primary"><%= @comment.owner.display_name %></span>說：</p>
          <p class="text-muted"><%= @comment.body %></p>
          <p class="text-muted">你（<span class="text-primary"><%= @proxy.display_name %></span>）表示<span class="text-success stance_support">支持！</span><span class="text-danger stance_oppose">反對！</span></p>
        </div>

        <form accept-charset="UTF-8" action="/<%= @topic.permalink %>/comment_<%= @comment.id %>/reply_old" class="form-horizontal" id="reply" method="post">
          <div class="modal-body">
            <input class="form-control" id="old_stance" name="comment[stance]" type="hidden" value="">
            <input class="form-control" id="old_id" name="comment[old_id]" type="hidden" value="">
            <div class="form-group">
              <label for="description" class="col-sm-2">舊評論<br>發表時間</label>
              <div class="col-sm-10">
                <p class="text-primary" id="old_time">時間</p>
              </div>
            </div>

            <div class="form-group">
              <label for="description" class="col-sm-2">內容</label>
              <div class="col-sm-10">
                <p class="text-muted" id="old_body">內容</p>
              </div>
            </div>

            <div class="form-group">
              <label for="abstract" class="col-sm-2">摘要</label>
              <div class="col-sm-10">
                <p class="text-muted" id="old_abstract">摘要</p>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button href="#modal_choose_old" data-dismiss="modal" data-toggle="modal" class="btn btn-default"><i class="fa fa-reply"></i> 重選</button>
                <input class="btn btn-primary" name="commit" type="submit" value="送出">
                <button href="#" data-dismiss="modal" class="btn btn-default">返回</button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $(".old_post_check").hide();
  $("#old_chosen").attr("disabled", true);
});
function set_support(){
  $(".stance_oppose").hide();
  $(".stance_support").show();
  $("#old_stance").val("support");
  $("#comment_stance").val("support");
}
function set_oppose(){
  $(".stance_support").hide();
  $(".stance_oppose").show();
  $("#old_stance").val("oppose");
  $("#comment_stance").val("oppose");
}
function set_old_post(id){
  $("#old_id").val(id);
  $(".old_post_check").hide();
  $("#"+id).show();
  $("#old_time").text($("#time_"+id).text());
  $("#old_body").text($("#body_"+id).text());
  $("#old_abstract").text($("#abstract_"+id).text());
  $("#old_chosen").attr("disabled", false);
}
</script>