<% @comments.sort!{|b,a| a.importance_factor <=> b.importance_factor}.each do |comment| %>
<tr id="tr_<%= comment.id %>" onclick="click_tr('<%= comment.id %>');">
  <% unless session[:user_id].nil? %>
  <td width="10" id="read_<%= comment.id %>">
    <% if @proxy.read_comments.find(comment.id) %>
      <span class="label label-default"><i class="fa fa-check fa-fw"></i> </span>
    <% else %>
      <span class="label label-warning"><i class="fa fa-exclamation fa-fw"></i> </span>
    <% end %>
  </td>
  <% end %>
  <td class="td_short" id="td_<%= comment.id %>_short">
    <span class="text-muted"><% if (comment.owner == @proxy)%>你<%else%><%=comment.owner.display_name%><%end%></span>：<span class="text-default"><%= comment.display_abstract %></span>
  </td>
  <td class="td_full" id="td_<%= comment.id %>_full" style="display: none;"></td>
</tr>
<% end %>