<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><%= link_to "主頁", root_path %></li>
    <li><%= link_to "議題列表", "/list" %></li>
    <li class="active"><%= @topic.name %></li>
</ul>

<%= render 'comments/header' %>

<%= render 'comments/listview' %>