<h1>Listing comments</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Subject</th>
      <th>Body</th>
      <th>Liked</th>
      <th>Disliked</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.doc %></td>
        <td><%= comment.subject %></td>
        <td><%= comment.body %></td>
        <td>
          <% comment.likes.each do |like| %>
            <%= link_to like.name, like %></br>
          <% end %>
        </td>
        <td>
          <% comment.dislikes.each do |d| %>
            <%= link_to d.name, d %></br>
          <% end %>
        </td>
        <% if current_user.approvals.find(comment.id) %>
          <td><%= link_to 'Neutral', neutral_comment_path(comment), method: :put %></td>
          <td><%= link_to 'Dislike', dislike_comment_path(comment), method: :put %></td>
        <% elsif current_user.disapprovals.find(comment.id) %>
          <td><%= link_to 'Like', like_comment_path(comment), method: :put %></td>
          <td><%= link_to 'Neutral', neutral_comment_path(comment), method: :put %></td>
        <% else %>
          <td><%= link_to 'Like', like_comment_path(comment), method: :put %></td>
          <td><%= link_to 'Dislike', dislike_comment_path(comment), method: :put %></td>
        <% end %>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
