<% content_for :title, @topic.name + " | " + @comment.display_abstract %>
<% content_for :og_title, "評論：" + @topic.name %>
<% content_for :og_description, @comment.display_abstract %>

<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><%= link_to "主頁", root_path %></li>
    <li><%= link_to "議題", "/list" %></li>
    <li><%= link_to @topic.name, "/#{@topic.permalink}/" %></li>
    <li><%= link_to @stance.description.nil? ? "立場#{@stance.number}" : @stance.description, "/#{@topic.permalink}/stance_#{@stance.number}" %></li>
    <li class="active">檢視評論</li>
</ul>

<div class="page-header">
<h2><%= @comment.topic.name %></h2>
<p class = "text-muted"><%= @comment.topic.description %></p>
</div>

<div class="row">

  <div class="col-md-6 col-md-push-3">
    <table>
      <tr valign="middle">
        <td width="30" class="hidden-sm hidden-xs"><i class="fa fa-caret-left fa-fw fa-2x"> </i></td>
        <td width="2000">
          <div class="panel <%= @comment.stance.panel.nil? ? "panel-default" : "panel-"+@comment.stance.panel %>">
            
            <div class="panel-heading">評論：<%= @comment.display_abstract %></div>

            <div class="panel-body text-default">
              <%=  auto_link(simple_format(sanitize @comment.body, tags: %w(a p br)), :all, :target => '_blank') %>

              <div class="row">
                <div class="col-xs-4">
                  <h4 align=>
                    <% if session[:user_id].nil? %>
                      <span class="label label-success"><i class="fa fa-thumbs-up fa-fw"></i> <%= @comment.likes.count %></span>
                      <span class="label label-danger"><i class="fa fa-thumbs-down fa-fw"></i> <%= @comment.dislikes.count %></span>
                    <% else %>
                      <% if @proxy.approvals.find(@comment.id) %>
                        <span id="like_label"><a class="label label-success" href="<%= neutral_comment_path(@comment) %>" data-remote="true"><i class="fa fa-thumbs-up fa-fw"></i> <%= @comment.likes.count %></a></span>
                      <% else %>
                        <span id="like_label"><a class="label label-success" href="<%= like_comment_path(@comment) %>" data-remote="true"><i class="fa fa-thumbs-o-up fa-fw"></i> <%= @comment.likes.count %></a></span>
                      <% end %>
                      <% if @proxy.disapprovals.find(@comment.id) %>
                        <span id="dislike_label"><a class="label label-danger" href="<%= neutral_comment_path(@comment) %>" data-remote="true"><i class="fa fa-thumbs-down fa-fw"></i> <%= @comment.dislikes.count %></a></span>
                      <% else %>
                        <span id="dislike_label"><a class="label label-danger" href="<%= dislike_comment_path(@comment) %>" data-remote="true"><i class="fa fa-thumbs-o-down fa-fw"></i> <%= @comment.dislikes.count %></a></span>
                      <% end %>
                    <% end %>
                  </h4>
                </div>
                <div class="col-xs-8">
                  <p class="text-primary" align="right"><a href="/<%=@comment.topic.permalink%>/proxy_<%=@comment.owner.id%>"><%=@comment.owner.display_name%><% if (@comment.owner == @proxy)%>（你）<%end%></a><br>發表於 <%= @comment.display_time_detailed %></p>
                </div>
              </div>
            </div>

            <div class="panel-footer" align="right">
              <% unless session[:user_id].nil? %>
                <a href="#modal_reply_comment" data-toggle="modal" class="btn btn-success" onclick="set_support();"><i class="fa fa-reply"></i> 支援</a>
                <a href="#modal_reply_comment" data-toggle="modal" class="btn btn-danger" onclick="set_oppose();"><i class="fa fa-reply"></i> 反駁</a>
              <% end %>
              <a class="btn btn-default" onClick="window.history.back(); return false;">返回</a>
            </div>
          </div>
          </td>
        <td width="30" class="hidden-sm hidden-xs"> <i class="fa fa-caret-left fa-fw fa-2x"></i></td>
      </tr>
    </table>
  </div>


  <div class="col-md-3 col-md-pull-6">
    <div class="well well-sm">
      <h4 align="center" class="text-muted visible-sm visible-xs">評論回應的對象</h4>
      <% @replying = @comment.supporting + @comment.opposing %>
      <div class="panel-heading" align="center">
        <a data-toggle="tab" class="label label-primary" id="show_replying" href="#replying">全部 <%= @replying.count %></a>
        <a data-toggle="tab" class="label label-success" id="show_supporting" href="#supporting">支援 <%= @comment.supporting.count %></a>
        <a data-toggle="tab" class="label label-danger" id="show_opposing" href="#opposing" align="right">反駁 <%= @comment.opposing.count %></a>
      </div>

      <div class="panel-body">

        <div id="myTabContent" class="tab-content">
          
          <div class="tab-pane fade" id="supporting">
            <table class="table table-striped table-hover table-well">
              <tbody>
                <% @comment.supporting.sort!{|b,a| a.likes.count <=> b.likes.count}.first(10).each do |comment| %>
                  <tr onClick="document.location = '/<%= @topic.permalink%>/comment_<%= comment.id %>';">
                    <% unless session[:user_id].nil? %>
                    <td width="10">
                      <% if @user.read_comments.find(comment.id) %>
                        <span class="label label-default"><i class="fa fa-check fa-fw"></i> </span>
                      <% else %>
                        <span class="label label-warning"><i class="fa fa-exclamation fa-fw"></i> </span>
                      <% end %>
                    </td>
                    <% end %>
                    <td><% if (comment.owner == @proxy)%>你<%else%><%=comment.owner.display_name%><%end%>：<span class="text-success"><%= comment.display_abstract %></span></td>
                    <td width="10">
                      <span class="text-success"><i class="fa fa-caret-left"> </i> </span>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> 

          <div class="tab-pane fade" id="opposing">
            <table class="table table-striped table-hover table-well">
              <tbody>
                <% @comment.opposing.sort!{|b,a| a.likes.count <=> b.likes.count}.first(10).each do |comment| %>
                  <tr onClick="document.location = '/<%= @topic.permalink%>/comment_<%= comment.id %>';">
                    <% unless session[:user_id].nil? %>
                    <td width="10">
                      <% if @user.read_comments.find(comment.id) %>
                        <span class="label label-default"><i class="fa fa-check fa-fw"></i> </span>
                      <% else %>
                        <span class="label label-warning"><i class="fa fa-exclamation fa-fw"></i> </span>
                      <% end %>
                    </td>
                    <% end %>
                    <td><% if (comment.owner == @proxy)%>你<%else%><%=comment.owner.display_name%><%end%>：<span class="text-danger"><%= comment.display_abstract %></span></td>
                    <td width="10">
                      <span class="text-danger"><i class="fa fa-caret-left"> </i> </span>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade active in" id="replying">
            <table class="table table-striped table-hover table-well">
              <tbody>
                <% @replying.sort!{|b,a| a.likes.count <=> b.likes.count}.first(10).each do |comment| %>
                  <tr onClick="document.location = '/<%= @topic.permalink%>/comment_<%= comment.id %>';">
                    <% unless session[:user_id].nil? %>
                    <td width="10">
                      <% if @user.read_comments.find(comment.id) %>
                        <span class="label label-default"><i class="fa fa-check fa-fw"></i> </span>
                      <% else %>
                        <span class="label label-warning"><i class="fa fa-exclamation fa-fw"></i> </span>
                      <% end %>
                    </td>
                    <% end %>
                    <td><% if (comment.owner == @proxy)%>你<%else%><%=comment.owner.display_name%><%end%>：<span class="text-<%= @comment.supporting.find(comment.id) ? "success" : "danger" %>"><%= comment.display_abstract %></span></td>
                    <td width="10">
                      <span class="text-<%= @comment.supporting.find(comment.id) ? "success" : "danger" %>"><i class="fa fa-caret-left"> </i> </span>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> 

        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="well well-sm">
      <h4 align="center" class="text-muted visible-sm visible-xs">評論受到的回應</h4>
      <% @replied = @comment.supported + @comment.opposed %>
      <div class="panel-heading" align="center">
          <a data-toggle="tab" class="label label-primary" id="show_replied" href="#replied">全部 <%= @replied.count %></a>
          <a data-toggle="tab" class="label label-success" id="show_supported" href="#supported">支援 <%= @comment.supported.count %></a>
          <a data-toggle="tab" class="label label-danger" id="show_opposed" href="#opposed" align="right">反駁 <%= @comment.opposed.count %>
        </a>
      </div>

      <div class="panel-body">

        <div id="myTabContent" class="tab-content">

          <div class="tab-pane fade" id="supported">
            <table class="table table-striped table-hover table-well">
              <tbody>
                <% @comment.supported.sort!{|b,a| a.likes.count <=> b.likes.count}.first(10).each do |comment| %>
                  <tr onClick="document.location = '/<%= @topic.permalink%>/comment_<%= comment.id %>';">
                    <td width="10">
                      <span class="text-success"><i class="fa fa-caret-left"></i> </span>
                    </td>
                    <% unless session[:user_id].nil? %>
                    <td width="10">
                      <% if @user.read_comments.find(comment.id) %>
                        <span class="label label-default"><i class="fa fa-check fa-fw"></i> </span>
                      <% else %>
                        <span class="label label-warning"><i class="fa fa-exclamation fa-fw"></i> </span>
                      <% end %>
                    </td>
                    <% end %>
                    <td><% if (comment.owner == @proxy)%>你<%else%><%=comment.owner.display_name%><%end%>：<span class="text-success"><%= comment.display_abstract %></span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> 

          <div class="tab-pane fade" id="opposed">
            <table class="table table-striped table-hover table-well">
              <tbody>
                <% @comment.opposed.sort!{|b,a| a.likes.count <=> b.likes.count}.first(10).each do |comment| %>
                  <tr onClick="document.location = '/<%= @topic.permalink%>/comment_<%= comment.id %>';">
                    <td width="10">
                      <span class="text-danger"><i class="fa fa-caret-left"></i> </span>
                    </td>
                    <% unless session[:user_id].nil? %>
                    <td width="10">
                      <% if @user.read_comments.find(comment.id) %>
                        <span class="label label-default"><i class="fa fa-check fa-fw"></i> </span>
                      <% else %>
                        <span class="label label-warning"><i class="fa fa-exclamation fa-fw"></i> </span>
                      <% end %>
                    </td>
                    <% end %>
                    <td><% if (comment.owner == @proxy)%>你<%else%><%=comment.owner.display_name%><%end%>：<span class="text-danger"><%= comment.display_abstract %></span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade active in" id="replied">
            <table class="table table-striped table-hover table-well">
              <tbody>
                <% @replied.sort!{|b,a| a.likes.count <=> b.likes.count}.first(10).each do |comment| %>
                  <tr onClick="document.location = '/<%= @topic.permalink%>/comment_<%= comment.id %>';">
                    <td width="10">
                      <span class="text-<%= @comment.supported.find(comment.id) ? "success" : "danger" %>"><i class="fa fa-caret-left"></i> </span>
                    </td>
                    <% unless session[:user_id].nil? %>
                    <td width="10">
                      <% if @user.read_comments.find(comment.id) %>
                        <span class="label label-default"><i class="fa fa-check fa-fw"></i> </span>
                      <% else %>
                        <span class="label label-warning"><i class="fa fa-exclamation fa-fw"></i> </span>
                      <% end %>
                    </td>
                    <% end %>
                    <td><% if (comment.owner == @proxy)%>你<%else%><%=comment.owner.display_name%><%end%>：<span class="text-<%= @comment.supported.find(comment.id) ? "success" : "danger" %>"><%= comment.display_abstract %></span></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div> 

        </div>
      </div>
    </div>
  </div>
</div>

<% unless session[:user_id].nil? %>
<%= render 'comments/modal_reply_comment' %>
<% end %>
