<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @comment.target.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @comment.owner %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @comment.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment), class: 'btn'  %> 
<button onClick="returnPage()" class="btn">Back</button>
