<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><%= link_to "主頁", root_path %></li>
    <li><%= link_to "議題列表", "/topic_list" %></li>
    <li><%= link_to @target.name, "/#{@target.permalink}/" %></li>
    <li><%= link_to @stance.description, "/#{@target.permalink}/stance#{@stance.number}" %></li>
    <li class="active">檢視評論</li>
</ul>


<div class="bs-component">
    
    <div class="page-header">
    <h2>議題：<%= @comment.target.name %></h2>
    <p class = "text-muted"><%= @comment.target.description %></p>
    </div>

    <% if @comment.stance == 1 %>
      <div class="panel panel-success">
    <% elsif @comment.stance == 2 %>
      <div class="panel panel-warning">
    <% else %>
      <div class="panel panel-danger">
    <% end %>
      <div class="panel-heading">

        <% if @comment.subject.empty? %>
          <h3 class="panel-title">（沒有主旨）</h3>
        <% else %>
          <h3 class="panel-title"><%= @comment.subject %></h3>
        <% end %>
      </div>
      <div class="panel-body">
        <p class="text-primary pull-right"><%= @comment.owner.pseudonym %><br>發表於 <%= @comment.doc.strftime("%F %T") %> </p>
        <p class="text-default"><%= @comment.body %></p>
      </div>


        <% unless session[:user_id].nil? %>
    
    <div class="panel-footer">
    <center><p class="text-muted">我覺得這條評論</p></center>
    <div class="btn-group btn-group-justified">
      <% if @proxy.approvals.find(@comment.id) %>
        <a href="" class="btn btn-success">✓ 讚</a>
        <%= link_to "沒感覺", neutral_comment_path(@comment), method: :put, class: 'btn btn-warning' %>
        <%= link_to "爛", dislike_comment_path(@comment), method: :put, class: 'btn btn-danger' %>
      <% end %>
      
      <% if !@proxy.disapprovals.find(@comment.id) && !@proxy.approvals.find(@comment.id) %>
        <%= link_to "讚", like_comment_path(@comment), method: :put, class: 'btn btn-success' %>
        <a href="" class="btn btn-warning">✓ 沒感覺</a>
        <%= link_to "爛", dislike_comment_path(@comment), method: :put, class: 'btn btn-danger' %>
      <% end %>
      
      <% if @proxy.disapprovals.find(@comment.id) %>
        <%= link_to "讚", like_comment_path(@comment), method: :put, class: 'btn btn-success' %>
        <%= link_to "沒感覺", neutral_comment_path(@comment), method: :put, class: 'btn btn-warning' %>
        <a href="" class="btn btn-danger">✓ 爛</a>
      <% end %>
    </div>
    </div>
  <% end %>
    </div>
</div>
