<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <%= f.label :description %>
    <%= f.text_field :description%>
  </div>
  <div class="container">
    <%= f.label :permalink %>
    <%= f.text_field :permalink%>
  </div>
  <%= f.submit :class => 'btn btn-primary'%>
<% end %>
