
<div class="well bs-component">

<%= form_for(@topic, url: "/topics/create", :html => { class: "form-horizontal"}) do |f| %>

  <% if @topic.errors.any? %>
    <div class="bs-component">
      <div class="alert alert-dismissable alert-danger">
        <strong><%=@topic.errors.count %> 項錯誤：</strong>
        <ul>
        <% @topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <fieldset>
    <legend>議題</legend>

    <div class="form-group <%= "has-error" unless @topic.errors[:name].count ==0 %>">
      <label for="name" class="col-lg-2 control-label">名稱（必要）</label>
      <div class="col-lg-10">
        <%= f.text_field :name, class: "form-control", placeholder: "議題名稱" %>
        <% unless @topic.errors[:name].empty? %>
        <label class="control-label" for="inputError"><%= @topic.errors[:name].join("，") %></label>
        <% end %><span class="help-block">最多二十個字</span>
      </div>
    </div>

    <div class="form-group <%= "has-error" unless @topic.errors[:description].count ==0 %>">
      <label for="description" class="col-lg-2 control-label">描述</label>
      <div class="col-lg-10">
        <%= f.text_area :description, class: "form-control", placeholder: "議題描述", rows: "3" %>
        <span class="help-block">簡單描述議論的目標，使用可以讓人『支持』或『反對』的形式。<br>例如『你覺得香蕉好吃嗎？』而不是『你對香蕉有什麼看法？』</span>
      </div>
    </div>

    <div class="form-group <%= "has-error" unless @topic.errors[:permalink].count ==0 %>">
      <label for="permalink" class="col-lg-2 control-label">永久連結（必要）</label>
      <div class="col-lg-10">
        <%= f.text_field :permalink, class: "form-control", placeholder: "永久連結" %>
        <% unless @topic.errors[:permalink].empty? %>
        <label class="control-label" for="inputError"><%= @topic.errors[:permalink].join("，") %></label>
        <% end %><span class="help-block">作為議題網址使用。只能使用英文字母、數字和底線。<br>例如「PlatoForum_is_so_cool」</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "送出", :class => 'btn btn-primary'%>
        <button onclick="window.history.go(-1); return false;" class="btn btn-default">返回</button>
      </div>
    </div>
  </fieldset>
<% end %>
</div>
