<div class="row">
  <div class="col-sm-4">
    <div class="bs-component">
      <div class="list-group">
        <a class="list-group-item active" href="/list">
          <h4 class="list-group-item-heading"><i class="fa fa-group fa-fw"></i> 熱門議題</h4>
        </a>
        <% @topics.sort!{ |a,b| b.comments.count <=> a.comments.count }.first(5).each do |topic| %>
        <a href="/<%= topic.permalink %>" class="list-group-item">
          <span class="badge"><%= topic.comments.count %></span><%= topic.name %>
        </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="bs-component">
      <div class="list-group">
        <a class="list-group-item active" href="/list">
          <h4 class="list-group-item-heading"><i class="fa fa-clock-o fa-fw"></i> 最新議題</h4>
        </a>
        <% @topics.sort!{ |a,b| b.doc <=> a.doc }.first(5).each do |topic| %>
        <a href="/<%= topic.permalink %>" class="list-group-item">
            <span class="badge pull-right"><%= topic.display_time %></span><%= topic.name %>
        </a>
        <% end %>
      </div>
    </div>
  </div>
  <% if session[:user_id].nil? %>
    <div class="col-sm-4">
      <div class="bs-component">
        <div class="list-group">
          <a class="list-group-item active" href="/list">
            <h4 class="list-group-item-heading"><i class="fa fa-star fa-fw"></i> 熱門訂閱議題</h4>
          </a>
          <% @topics.sort!{|a,b| b.subscribed_by.count <=> a.subscribed_by.count}.first(5).each do |topic| %>
          <a href="/<%= topic.permalink %>" class="list-group-item">
            <span class="badge"><%= topic.subscribed_by.count %></span><%= topic.name %>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-sm-4">
      <div class="bs-component">
        <div class="list-group">
          <a class="list-group-item active" href="/subscriptions">
            <h4 class="list-group-item-heading"><i class="fa fa-star fa-fw"></i> 訂閱議題</h4>
          </a>
          <% @user = User.find_by(:id => session[:user_id] ) %>
          <% @user.subscriptions.sort!.first(10).each do |topic| %>
          <a href="/<%= topic.permalink %>" class="list-group-item">
            <span class="badge"><%= topic.comments.count %></span><%= topic.name %>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>