<div class="row">
  <div class="col-sm-6">
    <ul class="nav nav-list">
      <li class="list-group-item active">
        <h4 class="list-group-item-heading">熱門議題</h4>
        <p class="list-group-item-text">按照留言數排序</p>
      </li>
      <% @topics.each do |topic| %>
      <li class="list-group-item">
        <a href="/<%=topic.permalink%>/comments" >
        <h4 class="list-group-item-heading"><%= topic.description %></h4>
        <p class="list-group-item-text"><%= topic.comments.count %>則評論</p>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-6">
    <ul class="nav nav-list">
      <li class="list-group-item active">
        <h4 class="list-group-item-heading">最新議題</h4>
        <p class="list-group-item-text">按照創建時間排序</p>
      </li>
      <% @topics.each do |topic| %>
      <li class="list-group-item">
        <a href="/<%=topic.permalink%>/comments" >
        <h4 class="list-group-item-heading"><%= topic.description %></h4>
        <p class="list-group-item-text"><%= topic.comments.count %>則評論</p>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
</div>