<table class="table">
  <thead>
    <tr>
      <th>議題</th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.description, "/#{topic.permalink}/comments"%></td>
        <td><div class="dropdown theme-dropdown clearfix">
        <a id="dropdownMenu1" role="button" class="sr-only dropdown-toggle" data-toggle="dropdown"><%=topic.description%> <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li class="active" role="presentation"><%= link_to "進入", "#{topic.permalink}", role: "menuitem", tabindex: "-1"%></li>
          <li role="presentation"><%= link_to "編輯", edit_topic_path(topic), role: "menuitem", tabindex: "-1"%></li>
          <li role="presentation"><%= link_to "刪除", topic, method: :delete, data: { confirm: 'Are you sure?' }, role: "menuitem", tabindex: "-1"%></li>
        </ul>
      </div></td>
      </tr>
    <% end %>
  </tbody>
</table>