<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><%= link_to "主頁", root_path %></li>
    <li class="active">議題列表</li>
</ul>

<%= render 'topics/modal_new_topic' %>

<ul class="nav nav-pills hidden-xs pull-right" style="margin-top: 15px; margin-bottom: 15px;">
	<li class="disabled"><a style="cursor: default;">排列依照</a></li>
	<li class="active"><a href="#comments_count" data-toggle="tab">評論數</a></li>
	<li class=""><a href="#creation_time" data-toggle="tab">創建時間</a></li>
	<li class=""><a href="#subscription_count" data-toggle="tab">訂閱人數</a></li>
</ul>
<ul class="nav nav-pills visible-xs pull-right" style="margin-top: 15px; margin-bottom: 15px;">
	<li class="dropdown active pull-right">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      排列依照 <span class="caret"></span>
    </a>
	<ul class="dropdown-menu">
	  <li class="active"><a href="#comments_count" data-toggle="tab">評論數</a></li>
	  <li class=""><a href="#creation_time" data-toggle="tab">創建時間</a></li>
	  <li class=""><a href="#subscription_count" data-toggle="tab">訂閱人數</a></li>
	</ul>
	</li>
</ul>
<a class="btn-pills" data-toggle="modal" href="#modal_new_topic" style="margin-top: 15px; margin-bottom: 15px;">發起議題</a>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="comments_count">
  	<table class="table table-striped table-hover ">
		<tbody>
			<% @topics.sort!{ |a,b| b.comments.count <=> a.comments.count }.each do |topic| %>
			<tr onclick="document.location = '/<%= topic.permalink %>';">
				<td align="right"><%= topic.name %></td>
				<td class="text-muted"><%= topic.description[0,20] %><%= "⋯⋯" if topic.description.length > 20 %></td>
				<td width="30"><span class="badge"><%= topic.comments.count %></span></td>
			</tr>
		    <% end %>
		<tbody>
	</table>
  </div>
  <div class="tab-pane fade" id="creation_time">

	<table class="table table-striped table-hover ">
		<tbody>
			<% @topics.sort!{ |a,b| b.doc <=> a.doc }.each do |topic| %>
			<tr onclick="document.location = '/<%= topic.permalink %>';">
				<td align="right"><%= topic.name %></td>
				<td class="text-muted"><%= topic.description[0,20] %><%= "⋯⋯" if topic.description.length > 20 %></td>
				<td width="30"><% if topic.doc.strftime("%F") == Time.zone.now.strftime("%F") %>
					            <span class="badge pull-right">今天 <%= topic.doc.strftime("%T") %></span>
					          <% else %>
					            <span class="badge pull-right"><%= topic.doc.strftime("%F") %></span>
					          <% end %>
				</td>
			</tr>
		    <% end %>
		<tbody>
	</table>
  </div>
  <div class="tab-pane fade" id="subscription_count">
	<table class="table table-striped table-hover ">
		<tbody>
			<% @topics.sort!{|a,b| b.subscribed_by.count <=> a.subscribed_by.count}.each do |topic| %>
			<tr onclick="document.location = '/<%= topic.permalink %>';">
				<td align="right"><%= topic.name %></td>
				<td class="text-muted"><%= topic.description[0,20] %><%= "⋯⋯" if topic.description.length > 20 %></td>
				<td width="30"><span class="badge"><%= topic.subscribed_by.count %></span></td>
			</tr>
		    <% end %>
		<tbody>
	</table>
  </div>
</div>