<h1>Listing topics</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.description %></td>
        <td><%= topic.permalink %></td>
        <td><%= link_to 'Show', topic, class: 'btn btn-small' %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic), class: 'btn btn-small' %></td>
        <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Topic', new_topic_path, class: 'btn btn-large btn-primary'%>