<% content_for :title, @topic.name %>
<% content_for :og_title, "議題：" + @topic.name %>
<% content_for :og_description, @topic.description %>

<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><%= link_to "主頁", root_path %></li>
    <li><%= link_to "議題", "/list?sort=popularity" %></li>
    <li class="active"><%= @topic.name %></li>
</ul>

<%= render 'comments/header' %>
<%= render 'comments/listview' %>

<%= stylesheet_link_tag    "topic_view", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "topic_view", "data-turbolinks-track" => true %>