<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>
<p>
  <strong>Permalink:</strong>
  <%= @topic.permalink %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic), class: 'btn'  %> 
<%= link_to 'Back', topics_path, class: 'btn btn-primary'  %>
