<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>
<p>
  <strong>Permalink:</strong>
  <%= @topic.permalink %>
</p>
<%= link_to 'Show Comments', comments_path, class: 'btn'  %> 

<%= link_to 'Edit', edit_topic_path(@topic), class: 'btn'  %> 
<button onClick="returnPage()" class="btn">Back</button>
