<div class="row">
	<div class="col-xs-12">
		<h2 align="center">個人設定</h2>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">全域隱私設定</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-panel">
					<thead>
						<tr>
							<th>項目</th>
							<th>設定</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-muted">在我設定為「實名評論」的議題下<span id="allow_show_FB" class="text-default"><%= @user.allow_show_FB? ? "允許" : "禁止"%></span>別人連結至我的facebook個人頁面</td>
							<td><a id="allow_show_FB_link" href="/user/toggle_show_FB" data-remote="true">設為<%= !@user.allow_show_FB? ? "允許" : "禁止" %></a></td>
						</tr>
						<tr>
							<td class="text-muted"><span id="allow_list_comments" class="text-default"><%= @user.allow_list_comments? ? "允許" : "禁止"%></span>別人檢視我在議題下的「活動記錄」</td>
							<td width="100"><a id="allow_list_comments_link" href="/user/toggle_list_comments" data-remote="true">設為<%= !@user.allow_list_comments? ? "允許" : "禁止"%></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">議題隱私設定</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-panel">
					<thead>
						<tr>
							<th align="right">議題</th>
							<th>顯示名稱</th>
							<th>設定</th>
						</tr>
					</thead>
					<tbody>
						<% @user.proxies.each do |proxy| %>
						<tr>
							<td><a href="/<%= proxy.topic.permalink %>"><%= proxy.topic.name %></a></td>
							<td><a href="/<%= proxy.topic.permalink %>/proxy_<%= proxy.id %>" id="name_<%= proxy.topic.id %>"><%= proxy.display_name %></a></td>
							<td width="150">
								<a id="fake_<%= proxy.topic.id %>" href="/<%= proxy.topic.permalink %>/proxy_fake" data-remote="true"><i class="fa fa-lock fa-fw"></i> 切換為匿名</a>
				        <a id="real_<%= proxy.topic.id %>" href="/<%= proxy.topic.permalink %>/proxy_real" data-remote="true"><i class="fa fa-unlock fa-fw"></i> 切換為實名</a>
				      </td>
				      <script type="text/javascript">
							$(function() {
								<% if proxy.real_id %>
                	$("#real_<%= proxy.topic.id %>").hide();
                <% else %>
                	$("#fake_<%= proxy.topic.id %>").hide();
                <% end %>
              });
              </script>
						</tr>
					  <% end %>
					<tbody>
				</table>
			</div>
		</div>
	</div>

</div>

