<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="PlatoForum Group">
    <link rel="shortcut icon" href="http://platoforum.herokuapp.com/assets/platoforum.ico">
    
    <!-- meta tags for open graph protocal -->
    <meta property="og:title" content="<%= !yield(:og_title).empty? ? yield(:og_title) : "PlatoForum 潑辣瘋人" %>" />
    <meta property="og:type" content="<%= !yield(:og_title).empty? ? 'article' : 'website' %>" />
    <meta property="og:image" content="http://platoforum.herokuapp.com/assets/logo2.png" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:description" content="<%= !yield(:og_description).empty? ? yield(:og_description) : '「PlatoForum 潑辣瘋人」是一個全新概念的議題辯論網站。我們致力於創造一個更加客觀、理性、刺激思考的辯論環境。' %>" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:site_name" content="PlatoForum 潑辣瘋人" />

    <title>PlatoForum</title>

    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script>
    <![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

    <div class="container pf-body" role="main">

    <link href="/assets/css/home.css" rel="stylesheet">

    <div class="jumbotron my-jumbo">
      <h1><span class="text-white"><i class="fa fa-comments fa-2x text-whiter"></i> <strong>PlatoForum<sup>beta</sup></strong></span></h1>
      <p class="text-white">「PlatoForum 潑辣瘋人」是一個全新概念的議題辯論網站。我們致力於創造一個更加客觀、理性、刺激思考的辯論環境。<a href="/static/about">了解更多</a></p>
      <p class="text-white"><a href="/list">選擇一項議題</a>，立刻加入討論！或者<a data-toggle="modal" href="#modal_new_topic">發起一項新議題</a>！<span class="text-muted"></span></p>
    </div>
      
    </div> <!-- /container -->
    <%= render 'layouts/footer' %>
  </body>
</html>
