<div class="row">

  <div class="col-md-12">
    <div class="bs-component">

      <div class="panel 
      <% if @stance.number == 1 %>
        panel-success
      <% elsif @stance.number == 2 %>
        panel-warning
      <% elsif @stance.number == 3 %>
        panel-danger
      <% end %>
        ">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @stance.description %></h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th></th>
                <th>主旨</th>
                <th>作者</th>
                <th>時間</th>
              </tr>
            </thead>

            <tbody>
              <% @stance.comments.each do |comment| %>
              <tr onClick="document.location = '/comments/<%= comment.id %>';">
                <td width="10">
                  <span class="label label-success">讚 <%= comment.likes.count %></span> 
                  <span class="label label-danger">爛 <%= comment.dislikes.count %></span>
                </td>
                <td><%= comment.subject %></td>
                <td><% if (comment.owner == @proxy)%>你<%else%><%=comment.owner.pseudonym%><%end%></td>
                <td><%= comment.doc.strftime("%F %T") %></td>
              </tr>
              <% end %>
            </tbody>
          </table> 
        </div>
      </div>

    </div>
  </div>
</div>