<div class="row">

  <div class="col-md-12">
    <div class="bs-component">

      <div class="panel <%= @stance.panel.nil? ? "panel-default" : "panel-"+@stance.panel %>">
        <div class="panel-heading">
          <h3 class="panel-title">
            <% unless @stance.comments.count < 2 %>
            <ul class="nav nav-tabs pull-right">
              <li class="dropdown active dropdown-custom">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  排列依照 <span class="caret"></span>
                </a>
              <ul class="dropdown-menu pull-right">
                <li class="active"><a href="#like_count" data-toggle="tab">讚！</a></li>
                <li class=""><a href="#comment_time" data-toggle="tab">評論時間</a></li>
              </ul>
              </li>
            </ul>
            <% end %>
            <%= @stance.description %>
          </h3>
        </div>
        <div class="panel-body">
          <% if @stance.comments.count == 0 %>
            <p class="text-muted">這裡有點冷清⋯⋯</p>
          <% else %>

            <div id="myTabContent" class="tab-content">

              <div class="tab-pane fade active in" id="like_count">
                <table class="table table-striped table-hover ">
                  <tbody>
                    <% @stance.comments.sort!{|b,a| a.likes.count <=> b.likes.count }.each do |comment| %>
                    <tr onClick="document.location = '/<%= @topic.permalink%>/comment_<%= comment.id %>';">
                      <td width="88">
                        <span class="label label-success"><i class="fa fa-thumbs-up fa-fw"></i> <%= comment.likes.count %></span> 
                        <span class="label label-success"><i class="fa fa-reply fa-fw"></i> <%= comment.supported.count %></span>
                        <span class="label label-danger"><i class="fa fa-thumbs-down fa-fw"></i> <%= comment.dislikes.count %></span>
                        <span class="label label-danger"><i class="fa fa-reply fa-fw"></i> <%= comment.opposed.count %></span>
                      </td>
                      <td><% if (comment.owner == @proxy)%>你<%else%><%=comment.owner.display_name%><%end%>：<span class="text-muted"><%= comment.display_abstract %></span></td>
                      <td class="text-primary hidden-xs" align="right"><%= comment.display_time %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>

              <% unless @stance.comments.count == 1 %>
              <div class="tab-pane fade" id="comment_time">
                <table class="table table-striped table-hover ">
                  <tbody>
                    <% @stance.comments.sort!{|b,a| a.doc <=> b.doc }.each do |comment| %>
                    <tr onClick="document.location = '/<%= @topic.permalink%>/comment_<%= comment.id %>';">
                      <td width="88">
                        <span class="label label-success"><i class="fa fa-thumbs-up fa-fw"></i> <%= comment.likes.count %></span> 
                        <span class="label label-success"><i class="fa fa-reply fa-fw"></i> <%= comment.supported.count %></span>
                        <span class="label label-danger"><i class="fa fa-thumbs-down fa-fw"></i> <%= comment.dislikes.count %></span>
                        <span class="label label-danger"><i class="fa fa-reply fa-fw"></i> <%= comment.opposed.count %></span>
                      </td>
                      <td><% if (comment.owner == @proxy)%>你<%else%><%=comment.owner.pseudonym%><%end%>：<span class="text-muted"><%= comment.body[0,20] %><%= "⋯⋯" if comment.body.length > 20 %></span></td>
                      <td class="text-primary hidden-xs" align="right"><%= comment.display_time %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <% end %>

            </div> <!-- tab-content -->
          <% end %>

        </div> <!-- panel-body -->

      </div> <!-- panel -->

    </div> <!-- bs-component -->
  </div> <!-- col -->
</div> <!-- row -->