<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><%= link_to "主頁", root_path %></li>
    <li><%= link_to "議題", "/list" %></li>
    <li><%= link_to @topic.name, "/#{@topic.permalink}/" %></li>
    <li><%= @stance.description %></li>
</ul>

<%= render 'comments/header' %>

<%= render 'stances/listview' %>