    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" id="logo">PlatoForum</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li <% if request.fullpath == "/" %> class="active" <% end %>><%= link_to "主頁", "/"  %></li>
              <li <% if !(request.fullpath.include? "/static/" or request.fullpath.include? "/user/" or request.fullpath == "/") %> class="active" <% end %>><%= link_to "議題", "/topic_list"  %></li>
              <li <% if request.fullpath == "/static/about" %> class="active" <% end %> ><%= link_to "關於", "/static/about"  %></li>
              <li <% if request.fullpath == "/static/contact" %> class="active" <% end %> ><%= link_to "聯絡", "/static/contact"  %></li>
              <li <% if request.fullpath == "/static/privacy_policy" %> class="active" <% end %> ><%= link_to "隱私權聲明", "/static/privacy_policy"  %></li>
              <% if current_user %>
              <li <% if request.fullpath.include? "/user/" %> class="active" <% end %> class="dropdown">
              <a href="/fumou" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                
                <li><a href="/user/activities">活動記錄</a></li>
                <li><a href="/user/panel">個人設定</a></li>
                <li class="divider"></li>
                <li><%= link_to "登出", signout_path, id: "sign_out", onClick: "checkPage()" %></li>
              </ul></li>
               <% else %>
                <li><%= link_to "用Facebook帳號登入", "/auth/facebook", id: "sign_in", onClick: "checkPage()" %></li>
              <% end %>
              
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>