<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="PlatoForum Group">
    <link rel="shortcut icon" href="http://platoforum.herokuapp.com/assets/platoforum.ico">

    <title>PlatoForum</title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <script>
      function checkPage(){
          localStorage.startingPage = document.URL;
      }
      function returnPage(){
          window.location.href = localStorage.startingPage;
          return false;
      }
    </script></head>
  <body>

    <%= render 'layouts/header' %>
    <div class="container" role="main">
      <% if false %><!-- turn off notification panel -->
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <%= value %>
          </div>
        <% end %>
      <% end %>

      <%= yield %> <!-- Page Body -->
      
    </div> <!-- /container -->
    <%= render 'layouts/footer' %>
  </body>
</html>
